In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
#데이터 불러오기
titanic=sns.load_dataset("titanic")
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [5]:
#결측치 확인
titanic.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [6]:
#column 정보 확인, type 확인
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [7]:
#survived 는 따로 target 으로 빼놓기.
target=titanic['survived']
titanic.drop(labels=['survived'],axis=1,inplace=True)

In [8]:
#bool, category, object 제거. 너무 다 빼면 나중에 accuracy 가 낮아질 수 있으니 뭘 빼고 뭘 남기고 뭘 바꿀지 정하기
titanic.drop(labels=['class','embarked','adult_male','who','deck','embark_town','alive','alone'], axis=1, inplace=True)

In [9]:
#sex 변수 숫자로 바꾸기
titanic['sex']=titanic['sex'].map({'male':0, 'female':1})
titanic

     pclass  sex   age  sibsp  parch     fare
0         3    0  22.0      1      0   7.2500
1         1    1  38.0      1      0  71.2833
2         3    1  26.0      0      0   7.9250
3         1    1  35.0      1      0  53.1000
4         3    0  35.0      0      0   8.0500
..      ...  ...   ...    ...    ...      ...
886       2    0  27.0      0      0  13.0000
887       1    1  19.0      0      0  30.0000
888       3    1   NaN      1      2  23.4500
889       1    0  26.0      0      0  30.0000
890       3    0  32.0      0      0   7.7500

[891 rows x 6 columns]

In [10]:
# dropna() 이후에 인덱스를 저장합니다.
titanic_cleaned = titanic.dropna()
selected_indices = titanic_cleaned.index

# 바뀐 인덱스를 사용해서 target 열을 업데이트합니다.
target_cleaned = target.loc[selected_indices]

In [11]:
#최종 결측치 확인
titanic_cleaned.isna().sum()

pclass    0
sex       0
age       0
sibsp     0
parch     0
fare      0
dtype: int64

In [12]:
train_input, test_input, train_target, test_target = train_test_split(titanic_cleaned, target_cleaned, random_state=42)

In [13]:
lr=LogisticRegression()

In [14]:
lr.fit(train_input, train_target)

LogisticRegression()

In [15]:
print(lr.predict(test_input))

[0 0 1 1 0 0 0 0 1 1 1 1 0 0 1 0 0 1 0 1 0 1 1 1 0 0 0 0 1 0 1 1 0 0 0 0 0
 0 0 0 0 0 1 0 0 1 1 0 0 1 0 1 1 0 0 1 1 0 0 0 1 0 1 0 0 0 0 1 0 1 0 1 0 0
 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 1 1 1 0 0 1 1 0 1 1 0 0 0 0 1 0
 0 0 0 0 1 0 1 0 0 1 0 0 0 1 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0
 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 1 0 1 1 0 1 0 0 1 1 1 1 1 0 0 0]

In [16]:
#실제 데이터값 넣고 검정해보기
pred=lr.predict([[1,1,25.0,0,0,70.357]])

if(pred[0]==0):
    print('AI: 사망하실 것으로 예측됩니다. \n')
else:
    print("AI: 생존하실 것으로 예측됩니다. \n")
    
print('사망할 확률/ 생존할 확률:{}'.format(lr.predict_proba([[1,1,25.0,0,0,70.357]])))

AI: 생존하실 것으로 예측됩니다.

사망할 확률/ 생존할 확률:[[0.04225323 0.95774677]]

C:\Users\sport\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(
C:\Users\sport\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [17]:
#실제 데이터값 넣고 검정해보기
pred=lr.predict([[2,0,23.0,1,0,30.5789]])

if(pred[0]==0):
    print('AI: 사망하실 것으로 예측됩니다. \n')
else:
    print("AI: 생존하실 것으로 예측됩니다. \n")
    
print('사망할 확률/ 생존할 확률:{}'.format(lr.predict_proba([[2,0,23.0,1,0,30.5789]])))

AI: 사망하실 것으로 예측됩니다.

사망할 확률/ 생존할 확률:[[0.72838426 0.27161574]]

C:\Users\sport\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(
C:\Users\sport\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(